<h1>Working</h1>
<%= session['gold'] %>
<div id="farm">
	<h3>Farm</h3>
	<p>(earns 10-20 golds)</p>
	<form action="/process" method="post">
		<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
		<input type="hidden" name="building" value="farm">
		<input type="submit" value="Find Gold">
	</form>
</div>
<div id="cave">
	<h3>Cave</h3>
	<p>(earns 5-10 golds)</p>
	<form action="/process" method="post">
		<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
		<input type="hidden" name="building" value="cave">
		<input type="submit" value="Find Gold">
	</form>
</div>
<div id="house">
	<h3>House</h3>
	<p>(earns 2-5 golds)</p>
	<form action="/process" method="post">
		<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
		<input type="hidden" name="building" value="house">
		<input type="submit" value="Find Gold">
	</form>
</div>
<div id="casino">
	<h3>Casino</h3>
	<p>(earns/takes 0-50 golds)</p>
	<form action="/process" method="post">
		<input name="authenticity_token" value="<%=form_authenticity_token %>" type="hidden">
		<input type="hidden" name="building" value="casino">
		<input type="submit" value="Find Gold">
	</form>
</div>
<div>
	<p>Activities:</p>
	<div id="activities">
		<% session[:activities].reverse.each do |element| %>
			<p><%= element %></p>
		<% end %>
	</div>
</div>